<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
	Subscription Product
	http://rechargepayments.com: v3.5
-->
<div id="thepricecontainer">
  {% comment %} <span id="nyousave" style="font-size: 29px"></span> {% endcomment %}
{% comment %} <span id="theprice">${{ product.variants[0].price | money_without_currency | remove: '.00' }} AUD</span>  {% endcomment %}
{% comment %} <span id="perserve"> </span> {% endcomment %}
{% comment %} <span class=" selection-type delivertype deliverevery">Deliver Every 30 days</span>
<span id="ninstock">In Stock</span> {% endcomment %}
</div>

{% comment %} <div style="margin-bottom: 10px"> Or make 4 interest-free payments  of <span id="afterpayprice">9.25</span>  AUD fortnightly with <img style="max-width: 100px;" src="https://cdn.shopify.com/s/files/1/2717/0382/t/4/assets/afterpay.jpg?v=1584254647"></div> {% endcomment %}

<!-- <div id="subinfo" style="display:none;" class="desktop"> -->

  <!-- <span id="discvariantid" style="visibility: visible; height: 0;">{{ product.variants[0].metafields.subscriptions.discount_variant_id }}</span> -->
<!-- <span class="listprice">List Price: $<span>{{ product.variants[0].price | money_without_currency }}</span></span> 
<span class="yourprice">Your Price: $<span>{{ product.variants[0].price | money_without_currency }}</span></span>
<span class="yousave">You Save: $<span>0.00</span></span> -->

<!-- </div> -->


<div class="purchase-type-wrapper">
  
        <div class="purchase-type__option one-time-purchase active" data-mm-type="buyonce">
          

            <h2 class="option-title">ONE TIME PURCHASE</h2>
            
<!--             <span class="onetimeprice">$<span id="rendernumber"></span> -->
        </div>
        <div class="purchase-type__option subscribe-and-save " data-mm-type="subscribe">
          

            <h2 class="option-title">SUBSCRIBE &amp; SAVE</h2>
<!--           <span class="subscriptionprice">$<span></span></span> -->
          
        </div>
    </div>

<!-- this is the main thing.  -->
<div class="option-selection-wrapper">
<!--         <div class="selection-type">

            <div class="selection-item option-quantity">
                <div class="quantity-item selectable-option quantity active" data-quantity="1">
                  
                 
                1-PACK
                  <span class="price_per">$<span id="onejar">35</span>/jar</span>
                </div>
                <div class="quantity-item selectable-option quantity" data-quantity="2">
                 
                2-PACK
                <span class="price_per">$<span id="twojars">35</span>/jar</span>
                </div>
                <div class="quantity-item selectable-option quantity" data-quantity="3">
                  
                3-PACK
                <span class="price_per">$<span id="threejars">35</span>/jar</span>
                </div>
                <div class="quantity-item selectable-option quantity" data-quantity="6">
                  
                6-PACK
                <span class="price_per">$<span id="sixjars">35</span>/jar</span>
                </div>
            </div>
        </div> -->
    
      
    </div> 

    
  
  <!-- <div id="shipping-notice" style="display: none">All orders placed before 9th October 2019 will be shipped on Thursday 10th October 2019.</div> -->
  
  <!-- <div id="subinfo" style="display:none;" class="mobile">

  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.323 17c.471 0 .854.458.854 1.006s-.384.994-.854.994h-12.469c-.47 0-.854-.446-.854-.994s.384-1.006.854-1.006h12.469zm0-1.988h-12.469c-1.576 0-2.854 1.341-2.854 2.994 0 1.654 1.278 2.994 2.854 2.994h12.469c1.577 0 2.854-1.34 2.854-2.994.001-1.653-1.277-2.994-2.854-2.994zm6.177-6.512c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm0-1.5c-1.379 0-2.5 1.121-2.5 2.5 0 1.378 1.121 2.5 2.5 2.5s2.5-1.122 2.5-2.5c0-1.379-1.121-2.5-2.5-2.5zm-3.434 1.838c.131-.675.456-1.279.914-1.757-3.322-2.425-5.957-4.081-7.997-4.081-4.077 0-6.99 4.602-8.592 11h13.34c-.517-1.066-.874-2.919-1.01-4.061-.67-.114-1.886.011-2.485.2 1.412-1.337 4.25-1.438 5.83-1.301z"/></svg>
  -->
  
  <!-- <span id="discvariantid" style="visibility: hidden; height: 0;">{{ product.variants[0].metafields.subscriptions.discount_variant_id }}</span>
<span class="listprice">List Price: $<span>{{ product.variants[0].price | money_without_currency }}</span></span> 
<span class="yourprice">Your Price: $<span>{{ product.variants[0].price | money_without_currency }}</span></span>
<span class="yousave">You Save: $<span>0.00</span></span> -->

<!-- </div> -->
<!--   <button id="MMAddToCart">Buy In Now</button> -->

<!-- <button type="button" id="MMAddToCart" class="shopify-payment-button__button shopify-payment-button__button--unbranded" data-testid="Checkout-button">Buy it now</button> -->
